nav{
    height: 75px;
}

body{
    background-color: #3a3f44;
    color: white;
}

main{
    margin-top: 75px;
}

.navbar-collapse{
    flex-grow: 0;
}

.navbar-nav > li > a {
    margin-right: 50px;
}

.dropdown-item:hover{
    background-color: #3a3f44;
}

.dropdown-item:active{
    background-color: #0d6efd;
}